html,body,#ctr,#mctr,#mn{
    height:100%;
}

#mn{
    margin-right: -10px;
    margin-left: -10px;
}
#userbox, #chatbox{
    display:inline-block;
    vertical-align:top;
    height:90%;
}

#userbox {
    border-right:1px solid black;
    padding:0;
    overflow-y:auto;
}

#userbox ul, #userbox ul > li {
    list-style: none;
    margin-left:0;
    padding-left:0;
}

#chatbox {
    padding:0;
    width:100%;
    overflow-y:hidden;
    height:90%;
}

#conversation {
    max-width:100%;
}

#mn > div{
    height:99%;
}

#inputbox{
    height: 7%;
    margin-top: 3%;
    vertical-align: bottom;
}

#conversation .media > div > p{
    margin-bottom:3px;
}

#conversation .media > div > h4{
    margin-top:0;
}
.nl{
    margin-bottom:10px;
    padding:12px 14px 10px;
    border: 1px solid #ccc;    
    /*
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
        -ms-border-radius: 12px;
         -o-border-radius: 12px;
            border-radius: 12px;*/
    word-wrap: break-word;
    max-width:90%;
}

.prop{
    margin-left:auto;
    text-align:right;
    background-color:#efefef;
    -webkit-border-bottom-right-radius: 0;
       -moz-border-bottom-right-radius: 0;
        -ms-border-bottom-right-radius: 0;
         -o-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
}

.oth{
    margin-right:auto;
    background-color:#cdcdcd;
    -webkit-border-bottom-left-radius: 0;
       -moz-border-bottom-left-radius: 0;
        -ms-border-bottom-left-radius: 0;
         -o-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
}

.alert{
    margin-bottom: 10px;
}